@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutPage>
@{
	Layout = "Master.cshtml";	
}

@section PageTitle {
	@Model.Name
}

<h1>@Model.Heading</h1>
<div id="text-wrapper">@Model.MainText</div>

@foreach (var blockListItem in Model.TeamList)
{
	var teamMember = (ContentModels.PersonSummary)blockListItem.Content;
	<div class="team-member">
		@{
			var image = (ContentModels.Image)teamMember.PersonImage.Content;
			var isPortrait = image.UmbracoWidth < image.UmbracoHeight;
			var wrapperCss = " style=\"flex-direction: " + (isPortrait ? "column\"" : "row\"");
			var imgCss = " style=\"" + (isPortrait ? "width: 200px\"" : "height: 200px\"");
		}
		<div class="image-wrapper"@Html.Raw(wrapperCss)>
			<img src="@teamMember.PersonImage.MediaUrl()" alt="@teamMember.PersonName"@Html.Raw(imgCss) />
		</div>
		<h3>@teamMember.PersonName</h3>
		<p>@teamMember.PersonBio</p>
	</div>
}