@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SearchPage>
@{
    Layout = "Master.cshtml";

    var outletRoot = Umbraco.ContentAtRoot()
        .First()
        .Descendant<OutletRoot>();
    var outlets = outletRoot.Children<Outlet>();
}

<h1>@Model.Heading</h1>
<p>@Model.MainText</p>

<div id="search-content">
    <div id="search-by-outlet">
        <h2>Search by</h2>
        <div class="search-category">
            <h3>Outlet</h3>
            @foreach (var outlet in outlets.Where(x => !x.IsRetail))
            {
                <a class="search-trigger" href="@outlet.Url()">@outlet.Name</a>
            }
        </div>

        <div class="search-category">
            <h3>Store</h3>
            @foreach (var outlet in outlets.Where(x => x.IsRetail))
            {
                <a class="search-trigger" href="@outlet.Url()">@outlet.Name</a>
            }
        </div>
    </div>

    <div id="search-by-type">
        <h2>Search by type</h2>
        @foreach (var group in outlets.SelectMany(x => x.ProductList.Select(y => ((ProductGroup1)y.Content).Heading))
            .Distinct()
            .Order())
        {
            var foodTypeUrl = $"{outletRoot.Url()}?foodType={group}";
            <a class="search-trigger" href="@foodTypeUrl">@group</a>
        }
    </div>
</div>